/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-title,
.site-description {
    font-size: 0;
    margin: 0
}

.site-header {
    position: relative;

    &.header-logo .logo img,
    &.header-logo-content .logo img {
        margin: 10px 0;
        max-height: 80px;
        width: auto;

        @media only screen and (max-width: 849.98px) {
            max-height: 60px;
        }
    }

    .header-content {
        position: relative;
    }

    .header-main {
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        z-index: 1;
        transition: all 0.35s ease-in-out;

        &>.container {
            max-width: 100%;
            padding-left: 45px;
            padding-right: 45px;
        }
    }

    &.fixed {
        height: 80px;

        .header-main {
            animation: stuckMoveDown 2s;
            position: fixed;
            top: 0px;
            left: 0;
            width: 100%;
            background-image: url('assets/img/bg.svg');
            background-size: 100px;
            background-repeat: repeat;
            background-position: center center;
            z-index: 999;
            box-shadow: 0px 1px 5px 0px rgba($color: #000000, $alpha: 0.15);

            .logged-in & {
                top: 32px;
            }

            @keyframes stuckMoveDown {
                0% {
                    transform: translateY(-100%)
                }

                100% {
                    transform: translateY(0)
                }
            }
        }
    }
}

/*--------------------------------------------------------------
## Footer 
--------------------------------------------------------------*/
.site-footer {
    color: $white;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    z-index: 1;
    transition: all 0.35s ease-in-out;

    .container {
        max-width: 100%;
        padding-left: 45px;
        padding-right: 45px;
    }

    a {
        color: $white;
    }
}

.main-footer {
    padding: 40px 0 20px 0;

    h3.widget-title {
        margin: 0 0 15px;
        font-size: 18px;
        text-transform: uppercase;
    }

    ul {
        padding-left: 0;
        margin: 0;
        list-style: none;

        ul {
            display: none;
        }
    }

    .widget_nav_menu ul li {
        position: relative;
        padding: 0px;
        border-bottom: 0 !important;

        a {
            color: $white;
            padding-left: 15px;

            &:before {
                position: absolute;
                top: 12px;
                left: 0;
                content: "\F105";
                @include fontello;
            }

            &:hover {
                text-decoration: underline;
            }

            .arrow {
                width: 34px;
                height: 34px;
                background: transparent;

                &:before {
                    color: $white;
                    top: 7px;
                    left: initial;
                    right: 1px;
                }
            }
        }
    }
}

.footer-right {
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;

        li {
            margin-left: 30px;
        }
    }
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        list-style-type: none;
        display: flex;

        li {
            margin-left: 24px;
            padding-left: 24px;
            position: relative;

            &:before {
                content: '';
                width: 10px;
                height: 2px;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: -5px;
                transform: translateY(-50%);
            }

            &:not(:last-child) {
                margin-left: 0;
                padding-left: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}

.site-info {
    padding: 10px 0;

    p {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# Breadcrumd
--------------------------------------------------------------*/
.page-title-bar {
    margin-bottom: 0px;

    .title {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.5;
        background: linear-gradient(90deg, #F5A764 0%, #F5BB63 50%, #926037 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

#callbacks {
    font-size: 24px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
    background: linear-gradient(90deg, #F5A764 0%, #F5BB63 50%, #926037 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.wtb-breadcrumb {
    background: #F9F9F9;
    margin-bottom: 15px;

    #breadcrumbs {
        padding: 10px 0;
        background: none;
        color: $text-color;

        p {
            margin-bottom: 0px;
        }
    }
}

/*--------------------------------------------------------------
# Back Top
--------------------------------------------------------------*/
#back-top {
    position: fixed;
    bottom: 20%;
    right: 15px;
    z-index: 9999;
    cursor: pointer;

    @media only screen and (max-width: 1099.98px) {
        bottom: 40px;
    }
}

/*--------------------------------------------------------------
# Theme Css
--------------------------------------------------------------*/
body {
    background-image: url('assets/img/bg.svg');
    background-size: 100px;
    background-repeat: repeat;
    background-position: center center;

    &:after {
        content: '';
        background: url('assets/img/icon/qs-2.svg') center no-repeat;
        position: absolute;
        top: -3px;
        right: -2px;
        width: 454px;
        height: 283px;
        pointer-events: none;
    }
}

.heading {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
    background: linear-gradient(90deg, #F5A764 0%, #F5BB63 50%, #926037 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.page-title,
h1.entry-title {
    margin: 0 0 15px 0;
    font-size: 18px;
    color: $primary-color;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    border-bottom: 3px solid #f2f2f2;

    .single & {
        text-transform: initial;
        font-weight: 400;
    }

    &>span {
        position: relative;
        display: inline-block;
        color: $primary-color;
        padding: 0 0 8px 0;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background: $primary-color;
        }
    }
}

.wp-block-separator {
    border: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
    display: block;
    margin: 20px 0;
}

#menu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    z-index: 70;
    width: auto;
    padding: 0;
    margin: 0;

    li {
        display: block;
        margin-bottom: 16px;
        opacity: 0.32;
        transition: all 0.35s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: $white;
            white-space: nowrap;
            height: 40px;
            line-height: 40px;
            display: block;
            font-size: 14px;

            .menu-nb {
                display: inline-block;
                width: 30px;
                margin-right: 10px;
                padding-right: 10px;
                position: relative;

                &:before {
                    content: '';
                    background: $primary-color;
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -1px;
                }
            }

            .menu-tt {
                @include custom-hidden;
                transition: all 0.35s ease-in-out;
            }
        }

        &.active {
            opacity: 1;

            a {
                color: $white;

                .menu-tt {
                    @include custom-visible;
                }
            }
        }
    }
}

.uni-modal {
    .post-title {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .spinner {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:before,
        &:after {
            content: "";
            position: absolute;
            border-radius: inherit;
        }

        &:before {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
            animation: spin .5s infinite linear;
        }

        &:after {
            width: 85%;
            height: 85%;
            background-image: url('assets/img/icon/bg-image-reapet.svg');
            background-size: 100px;
            background-repeat: repeat;
            background-position: center center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

#modalRecruitment {
    .modal-content {
        padding: 0;
        border-radius: 0;

        &:before,
        &:after {
            display: none;
        }
    }

    .modal-body {
        overflow: hidden;

        @media only screen and (max-width: 992px) {
            overflow: auto;
        }
    }

    .wrapper-content {
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        .col-description {
            width: 61.5702479%;
            flex-basis: 61.5702479%;
            margin-right: 30px;

            @media only screen and (max-width: 992px) {
                width: 100%;
                flex-basis: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }

            position: relative;
            padding: 24px;
            border-radius: 16px;
            overflow: hidden;
            height: 100%;

            &:after {
                content: '';
                background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
                border-radius: 16px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
            }

            &:before {
                content: '';
                background: url('assets/img/icon/ns-2.svg') center no-repeat;
                background-size: cover;
                opacity: 0.28;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                z-index: 4;
            }
        }

        .col-apply {
            width: calc(100% - 61.5702479% - 30px);
            flex-basis: calc(100% - 61.5702479% - 30px);

            @media only screen and (max-width: 992px) {
                width: 100%;
                flex-basis: 100%;
            }

            .col-form {
                position: relative;
                padding: 24px;
                border-radius: 16px;
                height: auto;
                overflow: hidden;

                &:after {
                    content: '';
                    background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
                    border-radius: 16px;
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }

                &:before {
                    content: '';
                    background: url('assets/img/icon/ns-2.svg') center no-repeat;
                    background-size: cover;
                    opacity: 0.28;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    z-index: 4;
                }
            }
        }

        .col-inner {
            position: relative;
            z-index: 9;
            height: 100%;
            overflow: auto;

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.15);
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 0px;
                background-color: transparent;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom, #F5A764 0%, #F5BB63 50%, #926037 100%);
            }
        }

        .post-field {
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 10px 0 10px 40px;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 65%;
                    flex-basis: 65%;

                    &:nth-child(2n) {
                        max-width: 35%;
                        flex-basis: 35%;
                    }

                    &.add {
                        max-width: 100%;
                        flex-basis: 100%;
                    }

                    .tt {
                        display: inline-block;
                        min-width: 100px;

                        @media only screen and (max-width: 1400px) {
                            display: block;
                            min-width: 100%;
                        }
                    }

                    .vl {
                        font-weight: bold;

                        @media only screen and (max-width: 1400px) {
                            display: block;
                            min-width: 100%;
                        }
                    }

                    &.wg {
                        background: url('assets/img/recruitment/moneys.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.wt {
                        background: url('assets/img/recruitment/timer.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.exp {
                        background: url('assets/img/recruitment/arrow-bottom.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.sex {
                        background: url('assets/img/recruitment/man.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.degree {
                        background: url('assets/img/recruitment/teacher.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.end {
                        background: url('assets/img/recruitment/clock.svg') 8px center no-repeat;
                        background-size: 24px;
                    }

                    &.add {
                        background: url('assets/img/recruitment/map.svg') 8px center no-repeat;
                        background-size: 24px;
                    }
                }
            }
        }
    }

    .btn-form {
        display: block;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
            padding: 1px;
            border-radius: 8px;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        span {
            background: linear-gradient(180deg, rgba(147, 96, 54, 0.64) 0%, rgba(245, 167, 100, 0) 100%);
            border-radius: 8px;
            width: 100%;
            display: block;
            height: 52px;
            line-height: 52px;
            text-align: center;
            font-weight: bold;

            @media only screen and (max-width: 992px) {
                height: 45px;
                line-height: 45px;
            }
        }
    }
}

#modalForm {
    .modal-extra {
        max-width: 745px;
    }

    #your-position {
        background: rgba(255, 255, 255, 0.24);
        color: $white;
    }

    .modal-body {
        position: relative;
        z-index: 9;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.15);
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 0px;
            height: 0;
            background-color: transparent;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(to bottom, #F5A764 0%, #F5BB63 50%, #926037 100%);
        }

        .hidden {
            display: none !important;
            visibility: hidden !important;
        }
    }

    .close {
        position: initial;
        top: initial;
        right: initial;
    }

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 0px;

        @media only screen and (max-width: 992px) {
            font-size: 18px;
        }
    }

    .form-title {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-cv {
        .form-input {
            position: relative;
            height: 52px;
            line-height: 52px;
            color: #CCBEAC;
            border: 0;
            padding: 0 12px;
            background: transparent;

            @media only screen and (max-width: 992px) {
                height: 45px;
                line-height: 45px;
            }

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                inset: 0;
                background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
                padding: 1px;
                border-radius: 8px;
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }

            .button-cv {
                margin-bottom: 0;
                cursor: pointer;
            }
        }
    }

    .wpcf7-form-control-wrap {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
            padding: 1px;
            border-radius: 8px;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    .wpcf7-not-valid-tip {
        margin: 5px 0;
        position: absolute;
        right: 10px;
        top: 46%;
        transform: translateY(-50%);
    }

    .wpcf7-response-output {
        color: $text-color !important;
    }

    .form-control {
        height: 45px;
        color: #CCBEAC;
        border: 0;
        background: transparent;

        &::placeholder {
            color: #CCBEAC;
        }
    }

    .form-submit {
        margin-top: 5px;

        span {
            display: block;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                inset: 0;
                background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
                padding: 1px;
                border-radius: 8px;
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }
        }

        .wpcf7-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }

        .btn-submit {
            background: linear-gradient(180deg, rgba(147, 96, 54, 0.64) 0%, rgba(245, 167, 100, 0) 100%);
            border-radius: 8px;
            width: 100%;
            height: 45px;
            font-weight: bold;
            border: 0px solid;
        }
    }
}

#modalProject {
    .post-excerpt {
        margin-bottom: 30px;
    }

    .post-field {
        margin-bottom: 30px;
    }
}

.icon-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
        padding: 1px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .inner {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        &:after {
            content: '';
            background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
            border-radius: 50%;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        &:before {
            content: '';
            background: url('assets/img/icon/ns-2.svg') center no-repeat;
            background-size: cover;
            opacity: 0.28;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 4;
            border-radius: 50%;
        }

        i {
            z-index: 999;
            font-size: 2rem;
        }
    }
}

#modalMedia {
    .modal-extra {
        max-width: 100%;

        @media only screen and (min-width: 576px) {
            padding-left: 0;
            padding-right: 0;
        }

        margin: 0;
    }

    .modal-content {
        padding: 0;
        height: auto;
        margin: 0;
        overflow: initial;

        .modal-body {
            overflow: initial;
        }

        &:before,
        &:after {
            display: none;
        }
    }

    .gallery-title {
        transition: all 0.35s ease-in-out;
        text-align: center;
        font-size: 24px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.5;
        background: linear-gradient(90deg, #F5A764 0%, #F5BB63 50%, #926037 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .icon-video {
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease-in-out;
    }

    .swiper-slide-active {
        .icon-video {
            opacity: 1;
            visibility: visible;
        }
    }

    .box-button {
        right: 6%;
        top: 57%;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .gallery-image {
        padding: 1px;
        position: relative;
        border-radius: 16px;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
            padding: 1px;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        img {
            border-radius: 16px;
        }
    }
}

.box-button {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    width: 70px;
    height: 70px;
    padding: 1px;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: linear-gradient(to right, #F5A764 0%, #F5BB63 50%, #926037 100%);
        padding: 1px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .box-button-inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
            border-radius: 50%;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        &:before {
            content: '';
            background: url('assets/img/icon/ns-2.svg') center no-repeat;
            background-size: cover;
            opacity: 0.28;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 4;
            border-radius: 50%;
        }
    }

    .swiper-button {
        position: relative;
        z-index: 9;
    }

    i {
        font-size: 18px;
    }
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-wrapper {
    @media only screen and (max-width: 1099.98px) {
        padding-bottom: 30px;
    }
}

.wrap-project {
    position: relative;

    .box-button {
        right: 0px;
    }
}

#project {
    .post-field {
        margin-top: 30px;
    }

    .col-image {
        margin-bottom: 40px;
        width: 100%;
    }

    .col-desc {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;
        width: 100%;

        &:after {
            content: '';
            background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
            border-radius: 16px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        &:before {
            content: '';
            background: url('assets/img/icon/ns-2.svg') center no-repeat;
            background-size: cover;
            opacity: 0.28;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 4;
        }
    }

    .project-info {
        position: relative;
        z-index: 9;
        padding: 24px;
    }

    .project-info__thumb {
        border-radius: 24px;
        overflow: hidden;
    }

    .project-info__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .post-info {
        cursor: pointer;
    }
}

.post-field {
    display: flex;
    flex-wrap: wrap;

    .item-field {
        margin-right: 30px;
        padding-left: 48px;
        margin-bottom: 15px;

        &.qm-field {
            background: url('assets/img/icon/icon-qm.svg') left center no-repeat;
            background-size: 32px;
        }

        &.td-field {
            background: url('assets/img/icon/icon-td.svg') left center no-repeat;
            background-size: 32px;
        }

        &.vt-field {
            background: url('assets/img/icon/icon-vt.svg') left center no-repeat;
            background-size: 32px;
        }

        span {
            display: block;
        }

        .tt-field {
            font-weight: bold;
        }
    }
}

#media {
    .media-box {
        .item-media {
            position: relative;
            display: block;
            padding: 24px;

            @media only screen and (max-width: 1099.98px) {
                margin-bottom: 40px;
            }

            @media only screen and (max-width: 849.98px) {
                margin-bottom: 20px;
            }

            &:after {
                content: '';
                background: linear-gradient(to bottom, rgba(255, 207, 138, 0.2) 2.06%, rgba(255, 255, 255, 0) 95.79%);
                border-radius: 16px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
            }

            &:before {
                content: '';
                background: url('assets/img/icon/ns-2.svg') center no-repeat;
                background-size: cover;
                opacity: 0.28;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                z-index: 4;
            }
        }

        .link-media,
        .btn-video,
        .btn-media {
            position: relative;
            z-index: 9;
            display: block;
            border-radius: 16px;
            overflow: hidden;
            cursor: pointer;

            img {
                border-radius: 16px;
                overflow: hidden;
            }

            .icon {
                position: absolute;
                bottom: 7px;
                left: 7px;
                display: inline-block;
                width: auto;
                padding: 10px 20px 10px 10px;

                &:after {
                    content: '';
                    background: linear-gradient(161.33deg, rgba(255, 255, 255, 0.08) 2.06%, rgba(255, 255, 255, 0) 95.79%);
                    border-radius: 16px;
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }

                &:before {
                    content: '';
                    background: url('assets/img/icon/ns-2.svg') center no-repeat;
                    background-size: cover;
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    z-index: 4;
                }

                .inner {
                    display: inline-block;
                    position: relative;
                    z-index: 9;
                    color: $white;
                    font-size: 14px;
                    font-weight: normal;

                    img {
                        max-height: 20px;
                        object-position: center;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.fancybox__container {
    z-index: 99999999 !important;

    .fancybox__caption {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.5;
        background: linear-gradient(90deg, #F5A764 0%, #F5BB63 50%, #926037 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.page-template-default,
.single-post,
.error404,
.search,
.page-template-page-fullwidth,
.page-template-page-left-sidebar,
.page-template-page-right-sidebar {
    .site-header .header-main {
        position: initial;
        height: auto;
        margin-bottom: 50px;
    }

    .site-content {
        padding-bottom: 70px;
    }
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media only screen and (max-width: 1099.98px) {
    .site-content {
        padding-top: 20px;

        .home & {
            padding-top: 0;
        }
    }

    .site-header .header-main>.container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .site-footer,
    .site-header .header-main {
        position: initial;
        height: auto;
    }

    .site-footer {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .site-info {
            padding: 20px 10px;
        }
    }

    .footer-right {
        margin-bottom: 10px;
    }

    .footer-right,
    .footer-left {
        justify-content: center;
        flex-wrap: wrap;
    }

    #callbacks,
    #menu {
        display: none;
    }

    .page-template-default,
    .single-post,
    .error404,
    .search,
    .page-template-page-fullwidth,
    .page-template-page-left-sidebar,
    .page-template-page-right-sidebar {
        .site-header .header-main {
            margin-bottom: 0px;
        }

        .site-content {
            padding-bottom: 0px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .footer-right {
        margin-bottom: 20px;

        ul {
            flex-wrap: wrap;

            li {
                margin: 0 20px;
            }
        }
    }

    #copyright {
        margin-bottom: 10px;
    }

    .footer-left ul {
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 20px 10px;
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .heading {
        font-size: 26px;
    }

    #project {
        .project-info__title {
            font-size: 18px;
        }
    }

    #media {
        .media-box {
            .item-media {
                padding: 15px;
            }

            .row {
                margin-left: -7.5px;
                margin-right: -7.5px;

                .col-sm-6 {
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                }
            }
        }
    }
}

@media only screen and (min-width: 850px) {
    #project {
        .project-info__title {
            font-size: 20px;
        }
    }

    #media {
        .media-box {
            .row {
                margin-left: 15px;
                margin-right: 15px;

                .col-sm-6 {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            .item-media {
                padding: 24px;

                .icon {
                    font-size: 14px;
                    position: absolute;
                    bottom: 16px;
                    left: 16px;
                    display: inline-block;
                    width: 154px;
                    padding: 16px;

                    .inner {
                        font-size: 18px;
                        font-weight: bold;

                        img {
                            max-height: initial;
                            object-position: center;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1100px) {
    .heading {
        font-size: 30px;
    }

    .swiper-pagination {
        display: none;
    }

    .wrap-project {
        .box-button {
            right: -30px;
        }
    }

    #project {
        .mySwiper2 {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .col-image {
            width: 69.407894736%;
            flex-basis: 69.407894736%;
            margin-bottom: 0;

            @media only screen and (min-width: 850.98px) {
                margin-left: calc(100% - 69.407894736%);
            }
        }

        .col-desc {
            width: 55%;
            flex-basis: 55%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-bottom: 0;
        }

        .project-info__title {
            font-size: 24px;
        }
    }

    #modalMedia {
        .gallery-title {
            font-size: 24px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .icon-video {
        width: 90px;
        height: 90px;

        .inner img {
            max-height: 40px;
        }
    }

    .box-button {
        width: 90px;
        height: 90px;
        background-size: 90px;

        i {
            font-size: 30px;
        }
    }

    .wrap-project {
        .box-button {
            right: -45px;
        }
    }

    #project {
        .col-desc {
            width: 38.8157895%;
            flex-basis: 38.8157895%;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .uni-modal {
        .post-title {
            font-size: 24px;
        }
    }
}

@media only screen and (min-width: 1600px) {
    .icon-video {
        width: 128px;
        height: 128px;

        .inner img {
            max-height: initial;
        }
    }

    .box-button {
        width: 128px;
        height: 128px;
        background-size: 128px;
    }
}